{% extends 'base.html' %}

{% block content %}

	<!--  Bootstrap navigation bar -->
{% if data is not defined %}
<nav class="navbar navbar-light bg-light material">
		<!-- <a class="navbar-brand">The Elastic 4</a> -->
		<form class="form-inline col-8" action="/search">
			<input class="form-control" type="search" placeholder="Search" name="search" value="">&nbsp;
            <input type="submit" class="btn btn-primary" name="submit" value="Search" />&nbsp;
            <a class='pull-right' data-toggle="collapse" href="#advancedForm">Advanced search</a>
            <div class='collapse' id="advancedForm">
                <input class="form-control" type="text" placeholder="Title" name="question" value="">
                <input class="form-control" type="text" placeholder="Description" name="description" value="">
                <input class="form-control" type="text" placeholder="Year" name="year" value="">
                <input type="hidden" name="category" value="">
            </div>
		</form>
</nav>
{% else %}
<script type="text/javascript">
	var timeline_data = {{ data.timeline|tojson }};
	var wordcloud_data = {{ data.wordcloud|tojson }};
</script>

<nav class="navbar navbar-light bg-light material">
        <!-- <a class="navbar-brand">The Elastic 4</a> -->
        <form class="form-inline col-8" action="/search">
            <input class="form-control" type="search" placeholder="Search" name="search" value="{{search_terms.query}}">&nbsp;
            <input type="submit" class="btn btn-primary" name="submit" value="Search" />&nbsp;
            <a class='pull-right' data-toggle="collapse" href="#advancedForm">Advanced search</a>
            <div class='collapse' id='advancedForm'>
                <input class="form-control" type="text" placeholder="Title" name="question" value="{{search_terms.question}}">
                <input class="form-control" type="text" placeholder="Description" name="description" value="{{search_terms.descripion}}">
                <input class="form-control" type="text" placeholder="Year" name="year" value="{{search_terms.year}}">
                <input type="hidden" name="category" value="{{search_terms.category}}">
            </div>
        </form>
</nav>
{% endif %}


{% if data is defined and data.results != None %}
<div id="timeline-wrapper" class="container">
    <br>
	<h4>Timeline</h4>
		<div id="timeline"></div>
</div>
<hr>
<div class="container">
	<h4>Categories</h4>
	{% for cat, count in data.categories.items() %}
	<span class="badge badge-secondary category">{{cat}} {{count}}</span>
	{% endfor %}
</div>
<hr>
<div class="container search-results">
	<span class="text-center">Showing results {{ data.range }} from {{ data.count }}</span>
	{% for q in data.results %}
	<div class="row justify-content-center">
		<div class="card text-center material">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#question-{{q.questionId}}">Question</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#answers-{{q.questionId}}">Answers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link stat-link" data-toggle="tab" href="#statistics-{{q.questionId}}">Statistics</a>
					</li>
				</ul>
			</div>
			<div class="card-body tab-content">
				<div class="tab-pane question-pane fade show active" id="question-{{q.questionId}}" role="tabpanel">
					<h5 class="card-title">{{q.question}}</h5>
					<p class="card-text">{{q.description}}</p>
					<p class="card-text"><small class="text-muted">By user nr. {{ q.user.userId }} on {{q.date}}</small></p>
				</div>
				<div class="tab-pane answer-pane fade" id="answers-{{q.questionId}}" role="tabpanel">
					<h5 class="card-title">Answers</h5>
					{% if q.answers|length != 0 %}
						<ul class="list-group list-group-flush">
						{% for a in q.answers %}
							<li class="list-group-item">
								<p class="card-text">{{a.answer}}</p>
								<p class="card-text"><small class="text-muted">By user nr. {{ a.user.userId }} on {{a.date}}</small></p>
								<span class="badge badge-success">+{{ a.thumbsUp }}</span>
								<span class="badge badge-danger">-{{ a.thumbsDown }}</span>
							</li>
						{% endfor %}
						</ul>
					{% else %}
						<p class="card-text">Geen antwoorden gevonden</p>
					{% endif %}
				</div>
				<div class="tab-pane fade statistics-pane" id="statistics-{{q.questionId}}" role="tabpanel">
					<h5 class="card-title">Statistics</h5>
					{% if q.answers|length != 0 %}
							<div class="widget">
							<div class="wordcloud-data" data-id="#chart-{{q.questionId}}">
								<div id="chart-{{q.questionId}}"></div>
							</div>
						</div>
					{% else %}
						<p class="card-text">Geen antwoorden gevonden</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
  <br>
  {% endfor %}
    <nav>
      <ul class="pagination pagination-sm flex-wrap" id="pagination">
      </ul>
    </nav>
</div>

<script>
var query = location.search.substr(1);
var params = {};
query.split("&").forEach(function(part) {
var item = part.split("=");
params[item[0]] = decodeURIComponent(item[1]);
});

var pages = Math.ceil(0+{{data.count}}/10);
var newp,newpp,newnp;
var current_p = params['p'];
current_p = current_p == null ? 1 : parseInt(current_p);
var current_s = params['search'];

var paramswithoutp = params;
delete paramswithoutp.p

var qstr = "" 
for(k in paramswithoutp) {
    qstr += "&" + k + "=" + paramswithoutp[k]
}
qstr =  "?" + qstr.substr(1)
qstr += "&p="
newpp = $('<li class="page-item"><a class="page-link" href="'+qstr+(current_p-1)+'">Previous</a></li>');
if(current_p == 1)
        newpp.addClass('disabled');
newnp = $('<li class="page-item"><a class="page-link" href="'+qstr+(current_p+1)+'">Next</a></li>');
    if(current_p == pages)
        newpp.addClass('disabled');

$("#pagination").append(newpp);

for(x = 1; x <= pages; x++) {
    
    newp = $('<li class="page-item"><a class="page-link" href="'+qstr+x+'">'+x+'</a></li>');
    if(x == current_p)
        newp.addClass('active');

    $("#pagination").append(newp);
}

$("#pagination").append(newnp);

$(".card-text").each(function() {
    var keywords = current_s.split("+")
    var html = $(this).html()
    for(var i in keywords) {
        if(keywords[i] in ['AND','OR','NOT'])
            continue;
        html = html.replace(keywords[i], "<strong>"+keywords[i]+"</strong>")
    }
    $(this).html(html)
    
});
</script>

<!-- WORD CLOUD -->
{% endif %}

{% endblock %}
